// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

a:hover,
.navbar-nav .nav-link:hover,
.icon:hover,
svg:hover,
.footer a:hover {
  color: #00205B !important;
  transition: color 0.2s ease-in-out;
}
